/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

a:focus,
button:focus {
  outline-offset: 1px;
  outline: #005fcc auto 1px;
}

p + p {
  margin-top: 1em;
}

.none {
  display: none;
}

:root {
  --container-padding: 15px;
  --main-font: "Nunito Sans", sans-serif;
}

.container {
  width: 1350px;
  padding: 0 var(--container-padding);
  margin: 0 auto;
}
@media (max-width: 1681px) {
  .container {
    width: 1200px;
  }
}
@media (max-width: 1200px) {
  .container {
    width: 726px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 360px;
  }
}

.container--full {
  min-width: 100%;
  padding: 0 var(--container-padding);
}

.container--left-50 {
  max-width: 50%;
  padding: 0 var(--container-padding);
}
@media (max-width: 768px) {
  .container--left-50 {
    max-width: 100%;
  }
}

.container--right-50 {
  max-width: 50%;
  padding: 0 var(--container-padding);
  margin-right: auto;
}
@media (max-width: 768px) {
  .container--right-50 {
    max-width: 100%;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Nunito Sans", sans-serif;
  src: url("./../fonts/NunitoSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito Sans", sans-serif;
  src: url("./../fonts/NunitoSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito Sans", sans-serif;
  src: url("./../fonts/NunitoSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito Sans", sans-serif;
  src: url("./../fonts/NunitoSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito Sans", sans-serif;
  src: url("./../fonts/NunitoSans-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
.buttons,
a.buttons {
  display: inline-block;
  border: 2px solid #4f8ff0;
  padding: 16px 24px;
  background-color: transparent;
  font-weight: 900;
  font-size: 14px;
  line-height: 120%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.buttons--primary,
a.buttons--primary {
  background-color: #4f8ff0;
}
.buttons--secondary,
a.buttons--secondary {
  background-color: #e6e6e6;
  color: #222;
  border-color: #e6e6e6;
}
.buttons--secondary:hover,
a.buttons--secondary:hover {
  border-color: #4f8ff0;
}
.buttons:hover,
a.buttons:hover {
  background-color: #fff;
  color: #4f8ff0;
}

.button--control {
  border: none;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.button--control svg {
  fill: #4F8FF0;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.button--control:hover svg {
  fill: rgba(79, 143, 240, 0.6);
}

.button--control-prew {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.button--burger {
  border: none;
}

.input {
  padding: 10px 20px;
  border: 1px solid #c0c0c0;
  border-radius: 8px;
  color: #000;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.input:active, .input:focus {
  border: 1px solid #3c82d3;
}

/* Custom Checkboxes */
.fake-checkbox {
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid #999;
  border-radius: 4px;
  background-color: #fff;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.fake-checkbox::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  width: 16px;
  height: 13px;
  background-image: url("./../img/icons/tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.real-checkbox:checked + .fake-checkbox {
  background-color: #000;
  border: 1px solid #000;
}

.real-checkbox:checked + .fake-checkbox::after {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.titles {
  line-height: 1.5;
  text-transform: uppercase;
  color: #222;
  text-align: center;
}

.title--h2 {
  font-weight: 800;
  font-size: 28px;
}

.titles--h3 {
  font-weight: 700;
  font-size: 16px;
  text-transform: none;
}

.page {
  scroll-behavior: smooth;
  min-height: 100vh;
}

.page__body {
  min-height: 100vh;
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-header {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  z-index: 2;
}

.main-header__row--upper {
  background-color: #010101;
  padding: 17px 0;
}
.main-header__row--bottom {
  background-color: rgba(1, 1, 1, 0.76);
  padding: 22px 0;
}
.main-header__row > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-header__btn {
  display: none;
}
@media (max-width: 1200px) {
  .main-header__btn {
    display: block;
  }
}

.contacts-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
}
@media (max-width: 1200px) {
  .contacts-info {
    -webkit-column-gap: 16px;
       -moz-column-gap: 16px;
            column-gap: 16px;
  }
}

.contancts-info__link {
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}
.contancts-info__link svg {
  -webkit-transition: fill 0.3s ease-in;
  transition: fill 0.3s ease-in;
  fill: #4F8FF0;
}
.contancts-info__link:hover {
  color: #4f8ff0;
}
.contancts-info__link:hover svg {
  fill: #fff;
}
@media (max-width: 768px) {
  .contancts-info__link--email {
    display: none;
  }
}

.contacts-info__btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  color: #4f8ff0;
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}
.contacts-info__btn:hover {
  color: #fff;
}

.logo {
  font-weight: 900;
  font-size: 20px;
  line-height: 1.5;
  text-transform: lowercase;
  color: #fff;
}
@media (max-width: 1200px) {
  .logo {
    font-size: 16px;
  }
}
.logo b {
  font-weight: 900;
  font-size: 28px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #4f8ff0;
}
@media (max-width: 1200px) {
  .logo b {
    font-size: 22px;
  }
}

@media (max-width: 1200px) {
  .navigation {
    display: none;
  }
}

.navigation--footer .navigation__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: 16px;
}
.navigation--footer .navigation__list {
  font-size: 14px !important;
  text-transform: uppercase;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1200px) {
  .navigation__list {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}

.navigation__link {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  color: #fff;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.navigation__link:hover {
  color: #4f8ff0;
  text-decoration: underline;
}

.hero {
  background-color: #999;
  background-image: url("./../img/hero/hero-bg.jpg");
  background-position: center center; /* x y */
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 820px;
  position: relative;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .hero {
    background-image: url("./../img/hero/hero-bg@2x.jpg");
  }
}
.hero::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(34, 34, 34, 0.64);
}

.hero__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 48px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

.hero__text-content {
  text-align: center;
  min-width: 1090px;
}
.hero__text-content .hero__title {
  font-weight: 300;
  font-size: 30px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 8px;
}
.hero__text-content b {
  font-weight: 600;
  font-size: 56px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #4f8ff0;
}
.hero__text-content p {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  color: #fff;
  margin-top: 8px;
}

.hero__button {
  width: 158px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.services {
  padding: 80px 0;
  background-color: #f7f7f7;
}

.services__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 48px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__text-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  color: #222;
}
.services__text-content p + p {
  margin-top: 1em;
}

.services__title {
  margin-bottom: 24px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 424px);
  row-gap: 38px;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
}

.card__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 32px;
  background-color: #fff;
  color: #222;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  cursor: pointer;
  position: relative;
}
.card__item::after {
  content: "";
  width: 375px;
  height: 210px;
  background-image: url("./../img/icons/border.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
}
.card__item svg {
  margin-bottom: 15px;
  fill: #4F8FF0;
  -webkit-transition: fill 0.3s ease-in;
  transition: fill 0.3s ease-in;
}
.card__item p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
}
.card__item:hover {
  background-color: #4f8ff0;
  color: #fff;
}
.card__item:hover svg {
  fill: #fff;
}
.card__item:hover::after {
  opacity: 1;
}

.card__title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 10px;
}

.about {
  padding: 80px 0;
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 64px;
     -moz-column-gap: 64px;
          column-gap: 64px;
}

.about__text-content h2 {
  text-align: left;
  margin-bottom: 24px;
}
.about__text-content h2 b {
  font-weight: 900;
  color: #4f8ff0;
}
.about__text-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #222;
}
.about__text-content p + p {
  margin-top: 2em;
}

.about__buttons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  margin-top: 32px;
}

.about__img-wrapper {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.lawyer {
  background-color: #F7F7F7;
  padding: 80px 0;
}

.lawyer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 48px;
}

.lawyer__text-content {
  max-width: 920px;
}
.lawyer__text-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  color: #222;
}

.lawyer__title {
  margin-bottom: 24px;
}

.slider {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.slide {
  padding: 0px 0px 24px;
  -webkit-box-shadow: 2px 2px 12px 0 rgba(33, 33, 33, 0.12);
          box-shadow: 2px 2px 12px 0 rgba(33, 33, 33, 0.12);
  background: #fff;
  text-align: center;
  position: relative;
}
.slide img {
  width: 312px;
  height: 320px;
  margin-bottom: 24px;
}
.slide b {
  display: block;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  color: #222;
}
.slide span {
  font-weight: 300;
  font-size: 14px;
  line-height: 120%;
  text-transform: lowercase;
  text-align: center;
  color: #222;
}

.slide__link {
  cursor: pointer;
}
.slide__link:hover .slide__hidden {
  opacity: 1;
}

.slide__hidden {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 20px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}

.slide__hidden-content {
  width: 265px;
  height: 374px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("./../img/icons/card-border.svg");
}
.slide__hidden-content b {
  display: block;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: #222;
}
.slide__hidden-content span {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: #222;
}
.slide__hidden-content p {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: #000;
  margin-top: 40px;
  margin-bottom: 40px;
}
.slide__hidden-content strong {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: #222;
}

.feedback {
  padding: 80px 0;
  display: grid;
  gap: 48px;
  background-color: #999;
  background-image: url("./../img/feedback/decor/feedback-bg.jpg");
  background-position: center center; /* x y */
  background-size: cover;
  background-repeat: no-repeat;
}

.feedback__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.feedback__row--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 32px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.feedback__title {
  text-align: left;
}

.feedback__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.feedback__controls span {
  display: block;
  width: 32px;
  height: 2px;
  background-color: #4f8ff0;
  -webkit-transform: rotate(-64deg);
          transform: rotate(-64deg);
}

.feedback__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
}

.f-card {
  display: grid;
  gap: 16px;
  background-color: #ffffff;
  padding: 32px;
  -webkit-box-shadow: 2px 2px 10px 0 rgba(33, 33, 33, 0.15);
          box-shadow: 2px 2px 10px 0 rgba(33, 33, 33, 0.15);
}

.f-card__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  position: relative;
}
.f-card__about::after {
  content: "";
  width: 55px;
  height: 56px;
  position: absolute;
  right: 32px;
  bottom: 16px;
  background-image: url("./../img/feedback/decor/game-icons_feather.svg");
  background-position: center;
}

.f-card__avatar {
  border-radius: 50%;
}

.f-card__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 4px;
}
.f-card__user span {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.2;
  color: #222;
}
.f-card__user b {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #222;
}

.f-card__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #222;
}

.materials {
  padding: 80px 0;
}

.materials__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 48px;
}

.materials__text-content {
  max-width: 920px;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  color: #222;
}

.materials__title {
  margin-bottom: 24px;
}

.materials__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.m-card__link:hover .m-card__img::after,
.m-card__link:hover .m-card__img::before {
  opacity: 1;
}

.m-card__link:hover .m-card__title {
  color: #4f8ff0 !important;
}

.m-card__img {
  margin-bottom: 24px;
  position: relative;
  z-index: 1;
}
.m-card__img::after {
  content: "";
  width: 372px;
  height: 210px;
  background-image: url("./../img/icons/border.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}
.m-card__img::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(79, 143, 240, 0.4);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}

.m-card__desc {
  display: grid;
  gap: 16px;
  text-align: left;
}

.m-card__title {
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
  text-align: left;
}

.m-card__date {
  font-weight: 300;
  font-size: 12px;
  line-height: 120%;
  color: #222;
}

.m-card__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #222;
}

.main-footer {
  margin-top: auto;
  background-color: #222;
  padding: 80px 0 0;
}

.main-footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 48px;
  padding-bottom: 80px;
}

.main-footer__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 182px;
     -moz-column-gap: 182px;
          column-gap: 182px;
  padding-bottom: 48px;
  border-bottom: 1px solid rgba(140, 140, 140, 0.2);
}
.main-footer__about p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-transform: lowercase;
  color: #f8f5f4;
}

.main-footer__cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.maint-footer__copyright {
  background-color: #181818;
}

.address {
  margin-right: 141px;
  width: 419px;
}

.address__list {
  display: grid;
  gap: 24px;
}

.address__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
}
.address__item .address__icon {
  width: 55px;
  height: 55px;
  background-color: #2c2c2c;
  grid-row: span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.address__item .address__icon svg {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  fill: #f8f5f4;
}
.address__item .address__icon:hover svg {
  fill: #4f8ff0;
}
.address__item span {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #8c8c8c;
}
.address__item b,
.address__item a {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}
.address__item a:hover {
  text-decoration: underline;
  color: #4f8ff0;
}

.address__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ask-question p {
  margin-top: 16px;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
}

.ask-question__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
}

.ask-question__about b {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 4px;
}
.ask-question__about span {
  font-weight: 300;
  font-size: 14px;
  line-height: 120%;
  color: #fff;
}

.copyright {
  padding: 16px 0;
}

.copyright__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.copyright__wrapper p {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
}