.cards {
    display: grid;
    grid-template-columns: repeat(3, 424px);
    row-gap: 38px;
    column-gap: 24px;

    @include laptop {
        grid-template-columns: repeat(3, 368px);
    }

    @include tablet {
        grid-template-columns: 336px 336px;
        gap: 24px;
    }

    @include mobile {
        display: flex;
    }
}

.card__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 50px 32px;
    background-color: #fff;

    @include tablet {
        padding: 30px 32px 40px;
    }

    @include mobile {
        width: 250px;

        padding: 32px 16px 24px 16px;
    }

     color: #222;

     transition: all 0.3s ease-in;
     cursor: pointer;

     position: relative;
    
     &::after {
        content: "";
        width: 375px;
        height: 210px;
        background-image: url('./../img/icons/border.svg');
        background-repeat: no-repeat;
        position: absolute;
        
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

        opacity: 0;
        transition: opacity 0.5s ease-in;

        @include laptop {
            background-size: 375px 200px;
        }

        @include tablet {
            background-image: none;
        }
    }

    svg {
        margin-bottom: 15px;
        fill: #4F8FF0;
        transition: fill 0.3s ease-in;
    }

    p {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.2;
        text-align: center;
    }

    &:hover {
        background-color: #4f8ff0;
        color: #fff;

        svg {
            fill: #fff;
        }
      
        &::after {
           opacity: 1;
        }

    }
}

.card__title {
    font-weight: 800;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 10px;
}