.feedback {
    padding: 80px 0;

    display: grid;
    gap: 48px;

    background-color: #999;
    background-image: url('./../img/feedback/decor/feedback-bg.jpg');
    background-position: center center; /* x y */
    background-size: cover;
    background-repeat: no-repeat;

    @include tablet {
        padding: 60px 0;
    }

    @include mobile {
        padding: 40px 0;
        gap: 24px;
    }
    
}

.feedback__row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--column {
        flex-direction: column;
        row-gap: 32px;
        align-items: flex-start;

        @include tablet {
            overflow: hidden;
        }
    }
}

.feedback__title {
    text-align: left;
    @include mobile {
        font-weight: 700;
    }
}

.feedback__controls {
    display: flex;
    align-items: center;

    span {
        display: block;
        width: 32px;
        height: 2px;
        background-color: #4f8ff0;
        transform: rotate(-64deg);
    }

    @include mobile {
        display: none;
    }
}

.feedback__cards {
    display: flex;
    align-items: center;
    column-gap: 24px;

    @include tablet {
        align-items: normal;
    }
}


.feedback__btns {
    display: flex;
    column-gap: 24px;
    align-items: center;

    @include mobile {
        flex-direction: column;
        row-gap: 24px;
        align-self: center;
        align-items: center;
    }
}

.feedback_btn {
}