.logo {
    font-weight: 900;
    font-size: 20px;
    line-height: 1.5;
    text-transform: lowercase;
    color: #fff;

    b {
        font-weight: 900;
        font-size: 28px;
        line-height: 1.5;
        text-transform: uppercase;
        color: #4f8ff0;
    }
}