.titles {
    line-height: 1.5;
    text-transform: uppercase;
    color: #222;
    text-align: center;
}
.title--h2 {
    font-weight: 800;
    font-size: 28px;

    @include tablet {
        font-size: 24px;
    }

    @include mobile {
        font-size: 20px;
    }
}

.titles--h3 {
    font-weight: 700;
    font-size: 16px;
    text-transform: none;
}