.titles {
    line-height: 1.5;
    text-transform: uppercase;
    color: #222;
    text-align: center;
}
.title--h2 {
    font-weight: 800;
    font-size: 28px;
}

.titles--h3 {
    font-weight: 700;
    font-size: 16px;
    text-transform: none;
}